<section class="pt-5">
    <div>
        <h2 style="color: #2c3e50;" class="title text-center text-uppercase fs-1 fw-bolder">conatct section</h2>
        <app-star></app-star>
    </div>

    <div>
        <div class="p-5 mt-5">
            <form action="" class="w-50 mx-auto ">

                <label id="label1" for="userName"
                    class="mycolor position-relative top-0">userName:</label>
                <input id="userName" name="userName" type="text"
                    class="form-control border-muted position-relative border-0 border-bottom py-3 mb-4"
                    placeholder="userName" aria-label="First name">
                <label id="label1" for="userAge"
                    class="mycolor position-relative top-0">userAge:</label>
                <input  id="userAge" name="userAge" type="text"
                    class="form-control position-relative border-muted border-0 border-bottom py-3 mb-4" placeholder="userAge"
                    aria-label="age">
                <input id="userEmail" name="userEmail" type="email"
                    class="form-control border-muted border-0 border-bottom py-3 mb-4 " placeholder="userEmail"
                    aria-label="email">
                <input id="userPassword" name="userPassword" type="text"
                    class="form-control border-muted border-0 border-bottom py-3 mb-4 " placeholder="userPassword"
                    aria-label="password">
                <button class="btn text-white bg-mycolor">send Messages</button>
            </form>
        </div>
    </div>
</section>