<section>
    <div class="d-flex justify-content-center text-white align-items-center mt-2">
        <div class="row text-center justify-content-center align-items-center g-3">
                <img style="width: 250px;" class="" src="./avataaars.svg" alt="avatar" srcset="">
            <div class="mt-4">
                <h2 class="text-uppercase pt-3 px-3 fs-1 fw-bolder">start Framework</h2>
                <app-star class="text-white pt-3"></app-star>
                 <p class="pt-3">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>